*pyc
/phenology/media/**/*.jpg
/phenology/media/**/*.png
/phenology/media/**/*.JPG
/cache
/venv/
/develop_eggs/

makina-states*-deploy.log
settings_local.py
src/
salt*password*py
kgs.cfg
makina-states.flask-deploy.log
.buildout/
.installed.cfg
.mr.developer.cfg
/bin/
/eggs/
salt.cfg
salt_config.py
psql.sh
/phenology/phenology/local_settings.py
/phenology/phenology/localsettings.py
/phenology/salt_*_check.py
/phenology/salt_*_check.py
/phenology/salt_*_check.py

