#map {
  width: 100%;
  min-height: 400px;
}

.navbar li.active{
  color: #555;
  background-color: #e7e7e7;
}

.table-container {
  display: table;
  width: 100%;
  height: 90%;
}

.table-container .table-row {
  height: 100%;
  display: table-row;
}

.table-container .table-row .table-col {
  display: table-cell;
  float: none;
  vertical-align: top;
}

.table-row form{
  margin: auto;
  padding: 10px;
}

.mynav .navbar-btn {
  margin-bottom: 2px;
  margin-top: 2px;
  padding-left: 5px;
  padding-right: 5px;
}

.mynav .nav-justified{
  float:left;
  margin-top:3px;
}

.mynav.navbar.navbar-default{
  min-height: 40px;
  margin-bottom: 0px;
}

.mynav .nav > li > a {
  padding: 7px 18px;
}

.mynav .navbar-right{
  position:absolute;
  right:0;
  margin-right: 0px;
}

.mytable>tbody>tr>td{
  padding-top: 4px;
  padding-bottom: 4px;
  vertical-align: middle;
}

.preview_pictures img{
  min-height: 100px;
  max-height: 150px;
}

.preview_pictures .current img{
  min-height: 150px;
  max-height: 200px;
}

.preview_pictures{
  min-height: 200px;
  max-height: 250px;
}

.popup__picture{
  width: 100px;
}
