<html> 
	{% load bootstrap3 %}
  {% load staticfiles %}
  {% load json_filters %}
  {% load i18n %}
	{# Load CSS and JavaScript #}
	{% bootstrap_css %}
  {% bootstrap_javascript jquery=1 %}

    <link rel="stylesheet" href="{% static 'vendor/leaflet/leaflet.css' %}" />
    <link rel="stylesheet" href="{% static 'css/app.css' %}" />
    <script src="{% static 'vendor/leaflet/leaflet.js' %}"></script>
    <script type="text/javascript">
      var phenoclim = phenoclim || {};
      phenoclim.options = {
        geojson: {{ form.instance.getAllGeojson|jsonify|safe }},
      }
    </script>
   <body> 
       {% include "navigation.html" %}
       {% bootstrap_messages messages %}
     <div class="container-fluid">
      <div class="row">
        <h2 class="col-md-12 text-center">{% block title %}{% endblock %}</h2>
      </div>
     </div>
     <div class="container-fluid table-container">
       {% block content %}
       {% endblock %}
     </div>
   </body>
    <script type="text/javascript" src="{% static 'js/app.js' %}"></script>

</html>