<html>
  {% load bootstrap3 %}
  {% load staticfiles %}
  {% load json_filters %}
  {% load i18n %}
  {% load compress %}
  {% compress css %}
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/leaflet/leaflet.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/leaflet.awesome-markers/leaflet.awesome-markers.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/datatables/css/jquery.dataTables.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap-slider/css/bootstrap-slider.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/app.css' %}" />
  {% endcompress %}
  {% compress js %}
    <script src="{% static 'vendor/jquery/jquery-1.11.2.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'vendor/leaflet/leaflet.js' %}"></script>
    <script src="{% static 'vendor/leaflet.awesome-markers/leaflet.awesome-markers.js' %}"></script>
    <script src="{% static 'vendor/datatables/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'vendor/d3js/d3.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap-slider/bootstrap-slider.min.js' %}"></script>
  {% endcompress %}
    <script type="text/javascript">
      var phenoclim = phenoclim || {};
      {% if form %}
        phenoclim.options = {
          geojson: {{ form.instance.getAllGeojson|jsonify|safe }},
        }
      {% endif %}
    </script>
   <body>
       {% block navigation %}
        {% include "navigation.html" %}
       {% endblock %}

       {% bootstrap_messages messages %}
     <div class="container-fluid">
      <div class="row">
        <h2 class="col-md-12 text-center">{% block title %}{% endblock %}</h2>
      </div>
     </div>
     <div class="container-fluid table-container">
       {% block content %}
       {% endblock %}
     </div>
   </body>
  {% compress js inline %}
   <script src="{% static 'js/charts.js' %}"></script>
   <script type="text/javascript" src="{% static 'js/app.js' %}"></script>
  {% endcompress %}

</html>
