{% extends "base.html" %}

{% load bootstrap3 %}

{% block content %}

{% load i18n %}

{% if form.errors %}
<!--<p>{% trans "Your username and password didn't match. Please try again." %}</p>-->
{% endif %}

<form method="post" style="max-width:500px;margin:auto;padding:10px;margin-top:100px;" class="form" action="{% url 'django.contrib.auth.views.login' %}">
{% csrf_token %}

  {% bootstrap_form form %}

  <input type="hidden" name="next" value="{{ next }}" />
  {% buttons %}
    <button type="submit" class="btn btn-success">
      {% bootstrap_icon "tree-deciduous" %} {% trans 'Connect' %}
    </button>
  {% endbuttons %}
  {% buttons %}
    <button type="submit" class="btn btn-default">
      {% trans 'Register' %}
    </button>
    <a class="btn btn-default" href="{% url 'password_reset' %}">{% trans 'Missed password' %}</a>
  {% endbuttons %}
</form>

{% endblock %}
