{% extends "base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% load staticfiles %}
{% load json_filters %}

{% block title %}Map{% endblock %}

{% block content %}

    <script type="text/javascript">
      phenoclim.options = {
        geojson: {},
      }
    </script>

    <div class="row  table-row">

      <div class=" col-xs-8 col-md-8  table-col">
               <div id="map" class="map all_survey"></div>
      </div>

      <div class="col-xs-4 col-md-4 table-col">
        <div class="map-control">
           <select data-id="species" class="form-control">
           </select>
           <select data-id="stages" class="form-control">
           </select>
           <div data-id="years" class="form-group years_choices">
            <div class="row">
              <div class="col-xs-6 col-md-6">
                <b>Année</b>
              </div>
              <div class="col-xs-6 col-md-6">
                <b>Nb Obs</b>
              </div>
            </div>
            <hr/>
           </div>
        </div>
        <div class="graph">
        <div>
      </div>
    </div>

    <script type="text/javascript">

      var cached_surveys = {};
      phenoclim = phenoclim || {}
      phenoclim.session = phenoclim.session || {};
      phenoclim.mapviz = phenoclim.mapviz || {};
      phenoclim.mapviz.get_data = function(species_id){
        if(!cached_surveys[species_id]){
          return $.get('/portail/search_surveys?species_id=' + species_id,function(data){
              cached_surveys[species_id] = data
          });
        }
        else{
          var defer = $.Deferred();
          defer.resolve(cached_surveys[species_id]);
          return defer.promise();
        };
      }
      phenoclim.mapviz.load_layers = function(){
        phenoclim.session.map_layers.clearLayers();
        var species_id = $("[data-id=species]").val();
        var stage_id = $("[data-id=stages]").val();

        var years_selected = $(".checkbox input:checked").map(function(i, item){
          return $(item).attr("value");
        }).toArray();

        phenoclim.mapviz.get_data(species_id).done(function(data){
          $.each(data, function(i, item){
              var years = (item.values[species_id]) ? item.values[species_id][stage_id] || [] : []
              var nbobs = d3.sum(d3.entries(years)
                            .filter(function(d){
                              return years_selected.indexOf(d.key) > -1;
                            })
                            .map(function(d){
                              return d3.sum(d3.values(d.value));
                            }))
              years = $.getKeys(years);
              if($.arrayIntersect(years, years_selected).length>0){
                var marker = L.circleMarker([item.lat, item.lon], {radius:5 + (nbobs/3), weight:1, color: 'blue'}).addTo(phenoclim.session.map_layers);
                marker.bindPopup("<div>"+ item.name +"<p>" +item.organisms+"</br>"+item.city + " - " + 
                  item.postalcode+" <br/> Altitude : "+item.altitude +"m" + "<br/>"+nbobs+" obs </br>"+item.nb_individuals+" individus</p></div>")
                marker.on("click", function(event){
                  phenoclim.session.linechart.refresh({ 'data': item.values});
                });
              }
          })
          //phenoclim.session.map._map.fitBounds(phenoclim.session.map_layers.getBounds());
        });
      }

      phenoclim.mapviz.refreshStages = function(){
        var species_field_value = $("select[data-id=species]").val();
        var stages_field = $("select[data-id=stages]");
        var cache_stage_value = stages_field.val();

        var species = phenoclim.session.species_list.filter(function(d){
          return d.id == species_field_value;
        });

        if (species.length > 0){
          species = species[0];
        }

        $("option", stages_field).remove();

        $.each(species.stages, function(i, item){
          var option = $("<option>").attr("value", item.id).text(item.label);
          if(cache_stage_value === item.id){
            option.attr("selected", "selected");
          }
          option.appendTo(stages_field);
        });
      }
      phenoclim.mapviz.refreshYears = function(){
        var data = phenoclim.session.dataviz || [];
        var all_years = [];
        var species_id = +$("select[data-id=species]").val();
        var stage_id = +$("select[data-id=stages]").val();
        var spec_data = phenoclim.session.species_list.filter(function(d){
          return d.id == species_id;
        })[0].stages.filter(function(d){
          return d.id == stage_id;
        })[0]
        all_years = spec_data.years || [];
        all_years.sort(function(a,b){
          return +a.year-b.year;
        });
        $yearContainer = $("[data-id=years]");
        $yearContainer.find(".rowyear").remove();
        $.each(all_years, function(i, year){
          var $input = $("<div class='row rowyear'><div class='col-xs-6 col-md-6'><div class='checkbox'><label><input type='checkbox' name='years' value='"+ year.year +"'>" + year.year + "</label></div></div><div class='col-xs-6 col-md-6'>" + year.count +"</div></div>").appendTo($yearContainer);
          if(i > (all_years.length - 3)){
            $("input", $input).attr("checked", "checked");
          }
        });
        $("[data-id=years] input").on("change", function(event){
          phenoclim.mapviz.load_layers();
        })
      }

      $( document ).ready(function(){
        phenoclim.session.linechart = new phenoclim.viz.lineChart(
          {margin: {top: 10, right: 10, bottom: 30, left: 20},
           line_enable: true});
        $(".map").on( "map_init", function(){
            $.get("/portail/get_species_list", function(data){
              phenoclim.session.species_list = data;

              var species_field = $("select[data-id=species]");
              $.each(data, function(i, item){
                var option = $("<option>").attr("value", item.id).text(item.label);
                option.appendTo(species_field);
              });
              $("option[value='5']", species_field).attr("selected", "selected");

              phenoclim.session.map_layers = L.featureGroup().addTo(phenoclim.session.map._map);
              phenoclim.mapviz.refreshStages();
              phenoclim.mapviz.refreshYears();
              phenoclim.mapviz.load_layers();
              $("select[data-id=species]").on("change", function(event){
                phenoclim.mapviz.refreshStages();
                phenoclim.mapviz.refreshYears();
                phenoclim.mapviz.load_layers();
              })
              $("select[data-id=stages]").on("change", function(event){
                phenoclim.mapviz.load_layers();
              })
            })
        });
      });
    </script>

{% endblock %}
