{% extends "base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% load staticfiles %}
{% load json_filters %}
{% block navigation %} {% endblock %}
{% block title %}Plantes au fil des saisons{% endblock %}

{% block content %}

    <script type="text/javascript">
      phenoclim.options = {
        geojson: {},
      }
    </script>

    <div class="row  table-row">

      <div class=" col-xs-8 col-md-8  table-col">
               <div id="map" class="map all_survey"></div>
      </div>

      <div class="col-xs-4 col-md-4 table-col">
        <div class="map-control">
           <select data-id="species" class="form-control">
           </select>
           <select data-id="stages" class="form-control">
           </select>
           <input data-id="altitudes" id="altitudes" type="text"/><br/>
           <div data-id="years" class="form-group years_choices">
            <div class="row">
              <div class="col-xs-6 col-md-6">
                <b>Année</b>
              </div>
              <div class="col-xs-6 col-md-6">
                <b>Nb Obs</b>
              </div>
            </div>
            <hr/>
           </div>
        </div>
        <div class="graph">
        <div>
      </div>
    </div>

    <script type="text/javascript">

      var cached_surveys = {};
      phenoclim = phenoclim || {}
      phenoclim.session = phenoclim.session || {};
      phenoclim.mapviz = phenoclim.mapviz || {};
      phenoclim.mapviz.get_data = function(species_id){
        if(!cached_surveys[species_id]){
          return $.get('/portail/search_surveys?species_id=' + species_id,function(data){
              cached_surveys[species_id] = data
          });
        }
        else{
          var defer = $.Deferred();
          defer.resolve(cached_surveys[species_id]);
          return defer.promise();
        };
      }
      phenoclim.mapviz.load_layers = function(){
        phenoclim.session.map_layers.clearLayers();
        var species_id = $("[data-id=species]").val();
        var stage_id = $("[data-id=stages]").val();
        var altitudes = $("#altitudes").slider("getValue");
        var years_selected = $(".checkbox input:checked").map(function(i, item){
          return $(item).attr("value");
        }).toArray();

        phenoclim.mapviz.get_data(species_id).done(function(data){
          $.each(data, function(i, item){
              var years = (item.values[species_id]) ? item.values[species_id][stage_id] || [] : []
              var nbobs = d3.sum(d3.entries(years)
                            .filter(function(d){
                              return years_selected.indexOf(d.key) > -1;
                            })
                            .map(function(d){
                              return d3.sum(d3.values(d.value));
                            }))
              years = $.getKeys(years);
              var intersected_years = $.arrayIntersect(years, years_selected)
              //var max_year = d3.max(intersected_years, function(d){ return +d })
              //var color = phenoclim.session.linechart.colors(""+max_year);
              if($.arrayIntersect(years, years_selected).length>0 && item.altitude >= altitudes[0] && item.altitude <= altitudes[1]){
                var marker = L.circleMarker([item.lat, item.lon], {radius:5 + (nbobs/3), weight:1, opacity: 1, fillOpacity: 0.2, color:"blue"}).addTo(phenoclim.session.map_layers);
                marker.bindPopup("<div>"+ item.name +"<p>" +item.organisms+"</br>"+item.city + " - " + 
                  item.postalcode+" <br/> Altitude : "+item.altitude +"m" + "<br/>"+nbobs+" obs </br>"+item.nb_individuals+" individus</p></div>")
                marker.on("click", function(event){
                  phenoclim.session.linechart.refresh({ 'data': item.values});
                });
              }
          })
          //phenoclim.session.map._map.fitBounds(phenoclim.session.map_layers.getBounds());
        });
      }
      phenoclim.mapviz.refreshWidgets = function(){
        var species_id = $("select[data-id=species]").val();
        phenoclim.mapviz.get_data(species_id).done(function(data){
          phenoclim.mapviz.load_layers();
          var vizdata = phenoclim.mapviz.prepare_data_for_viz(data);
          phenoclim.session.linechart.refresh({ data: vizdata });
        });
      }
      phenoclim.mapviz.slider = function(){
         var species_id = $("select[data-id=species]").val();
         phenoclim.mapviz.get_data(species_id).done(function(data){
                var flat_data = d3.entries(data).map(function(d){ return +d.value.altitude;});
                var max = d3.max(flat_data)
                var min = d3.min(flat_data)
                var ticks = [min, max];
                var ticks_label = []
                var existed =  $("#altitudes_slider").length > 0; 
                var slider = $("#altitudes").slider({
                    id: "altitudes_slider",
                    ticks: [0, 500, 1000, 1500, 2000, 2500],
                    ticks_labels: ["0m", "500m", "1000m", "1500m", "2000m", "2500m"],
                    min: 0, max: 2000, range: true, value: [min, max],
                });
                if(existed === false){
                  slider.on("slide", function(slideEvt) {
                    phenoclim.mapviz.refreshWidgets();
                  });
                }
                $("#altitudes").slider("refresh");

          });
      }
      phenoclim.mapviz.prepare_data_for_viz = function(data){
        var results = {};
        var altitudes = $("#altitudes").slider("getValue");
        var boundingbox = phenoclim.session.map._map.getBounds();
        var northEast = boundingbox.getNorthEast();
        var southWest = boundingbox.getSouthWest();
        //console.log(boundingbox);
        //loop areas
        $.each(data ,function(id, area_data){
          //loop species
          if((area_data.altitude >= altitudes[0] && area_data.altitude <= altitudes[1]) && 
             (area_data.lat <= northEast.lat && area_data.lat >= southWest.lat) && 
             (area_data.lon >= southWest.lng && area_data.lon <= northEast.lng)){
            $.each(area_data.values, function(species_id, species_data){
              if(!results[species_id]){
                results[species_id] = {};
              }
              $.each(species_data, function(stage_id, stage_data){
                if(!results[species_id][stage_id]){
                  results[species_id][stage_id] = {};
                }
                //loop years
                $.each(stage_data, function(year, year_data){
                  if(!results[species_id][stage_id][year]){
                    results[species_id][stage_id][year] = {};
                  }
                  //console.log(year_data);
                  //loop week
                  $.each(year_data, function(week, nbobs){
                    if(!results[species_id][stage_id][year][week]){
                      results[species_id][stage_id][year][week] = 0;
                    }
                    results[species_id][stage_id][year][week] += nbobs;
                  })
                })
              });
            });
          }
        });
        return results;
      }
      phenoclim.mapviz.refreshStages = function(){
        var species_field_value = $("select[data-id=species]").val();
        var stages_field = $("select[data-id=stages]");
        var cache_stage_value = stages_field.val();

        var species = phenoclim.session.species_list.filter(function(d){
          return d.id == species_field_value;
        });

        if (species.length > 0){
          species = species[0];
        }

        $("option", stages_field).remove();

        $.each(species.stages, function(i, item){
          var option = $("<option>").attr("value", item.id).text(item.label);
          if(cache_stage_value === item.id){
            option.attr("selected", "selected");
          }
          option.appendTo(stages_field);
        });
      }
      phenoclim.mapviz.refreshYears = function(){
        var all_years = [];
        var species_id = +$("select[data-id=species]").val();
        var stage_id = +$("select[data-id=stages]").val();
        var spec_data = phenoclim.session.species_list.filter(function(d){
          return d.id == species_id;
        })[0].stages.filter(function(d){
          return d.id == stage_id;
        })[0]
        all_years = spec_data.years || [];
        all_years.sort(function(a,b){
          return +a.year-b.year;
        });
        $yearContainer = $("[data-id=years]");
        $yearContainer.find(".rowyear").remove();
        $.each(all_years, function(i, year){
          var $input = $("<div class='row rowyear'><div class='col-xs-6 col-md-6'><div class='legend_item'></div><div class='checkbox'><label><input type='checkbox' name='years' value='"+ year.year +"'>" + year.year + "</label></div></div><div class='col-xs-6 col-md-6'>" + year.count +"</div></div>").appendTo($yearContainer);
          $(".legend_item", $input).css("background-color", phenoclim.session.linechart.colors(year.year))
          if(i > (all_years.length - 3)){
            $("input", $input).attr("checked", "checked");
          }
        });
        $("[data-id=years] input").on("change", function(event){
          phenoclim.mapviz.get_data(species_id).done(function(data){
            phenoclim.mapviz.load_layers();
            var vizdata = phenoclim.mapviz.prepare_data_for_viz(data);
            phenoclim.session.linechart.refresh({ data: vizdata });
          });
        })
      }

      $( document ).ready(function(){
        phenoclim.session.linechart = new phenoclim.viz.lineChart(
          {margin: {top: 10, right: 10, bottom: 30, left: 20},
           line_enable: true});
        $(".map").on( "map_init", function(){
            $.get("/portail/get_species_list", function(data){
              phenoclim.session.species_list = data;

              var species_field = $("select[data-id=species]");
              $.each(data, function(i, item){
                var option = $("<option>").attr("value", item.id).text(item.label);
                option.appendTo(species_field);
              });
              $("option[value='5']", species_field).attr("selected", "selected");

              phenoclim.session.map_layers = L.featureGroup().addTo(phenoclim.session.map._map);
              phenoclim.mapviz.refreshStages();
              phenoclim.mapviz.refreshYears();
              phenoclim.mapviz.get_data("5").done(function(data){
                phenoclim.mapviz.slider();
                phenoclim.mapviz.refreshWidgets();
              });

              $("select[data-id=species]").on("change", function(event){
                phenoclim.mapviz.refreshStages();
                phenoclim.mapviz.refreshYears();
                var species_id = +$(this).val();
                phenoclim.mapviz.get_data(species_id).done(function(data){
                  phenoclim.mapviz.slider();
                  phenoclim.mapviz.refreshWidgets();
                });
              })
              $("select[data-id=stages]").on("change", function(event){
                phenoclim.mapviz.refreshYears();
                phenoclim.mapviz.refreshWidgets()
              })

              phenoclim.session.map._map.on("zoomend", function(event, toto){
                var species_id = $("select[data-id=species]").val();
                phenoclim.mapviz.get_data(species_id).done(function(data){
                  var vizdata = phenoclim.mapviz.prepare_data_for_viz(data);
                  phenoclim.session.linechart.refresh({ data: vizdata });
                });
              })

              phenoclim.session.map._map.on("drag", function(event, toto){
                var species_id = $("select[data-id=species]").val();
                phenoclim.mapviz.get_data(species_id).done(function(data){
                  var vizdata = phenoclim.mapviz.prepare_data_for_viz(data);
                  phenoclim.session.linechart.refresh({ data: vizdata });
                });
              })

            })
        });
      });
    </script>

{% endblock %}
