{% extends "base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% load staticfiles %}
{% load json_filters %}

{% block title %}{{ form.instance.name }}{% endblock %}

{% block content %}

    <script type="text/javascript">
    phenoclim.options = {
      geojson: {{ user.observer.getAllGeojson|jsonify|safe }},
      areas: {{ areas|jsonify|safe }},
      isLinked: true,
    }
    </script>

    <div class="row  table-row">

      <div class=" col-xs-6 col-md-5  table-col">

        <h4 class="text-center no-margin padding-bottom-20"> Observations </h4>

        <div class="container-fluid">

        {% for area in user.observer.areas.all %}
          <div class="row">
            <div class="col col-xs-12 no-margin no-padding">
              <ul class="display__accordeon">
                <li class="display__area">
                  <a href="{% url 'area-detail' area.id %}">
                    {{ area }} [ {{ area.commune }} - {{ area.altitude|default:'' }} m]
                  </a>
                  <ul>
                    {% regroup area.alive_individuals.all|dictsort:"name" by species as area_species %}
                    {% for individuals_by_species in area_species %}
                    <li class="display__species ion-load-d icon-bullet">
                      <a href="" rel="{% url 'species-detail' individuals_by_species.grouper.id %}">
                        {{ individuals_by_species.grouper }}
                      </a>
                      <ul style="list-style-type:none">
                        {% for individual in individuals_by_species.list %}
                        <li class="display__individual ion-leaf icon-bullet" data-id="{{ individual.id }}">
                          <a href="" rel="{% url 'individual-detail' individual.id %}">
                            {{ individual }}
                          </a>
                          <ul>
                            {% for stage, dates, survey in individual.get_tasks %}
                            <li class="display__stage">
                              <a class="
                              {% if survey %}
                              found
                              {% else %}
                              missed
                              {% endif %}"
                              href="
                              {% if survey %}
                              {% url 'survey-detail' survey.id %}
                              {% else %}
                              {% url 'survey-detail' %}?stage_id={{stage.id}}&ind_id={{individual.id}}
                              {% endif %}">
                              {{ stage }} [{{ dates.0.year}}] {% if survey %}- {{survey.date}}{% endif %}
                              </a>
                            </li>
                            {% endfor %}
                          </ul>
                        </li>
                      {% endfor %}
                      </ul>
                    </li>
                    {% endfor %}
                    <li class="icon ion-ios-medical icon-bullet">
                      <a class="btn no-padding btn-link" href="{% url 'snowing-detail' area.id %}">Saisir enneigement</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        {% endfor %}

          <div class="row">
            <div class="col-xs-12 no-padding">
                <h4 class="text-center padding-10"> Graphique </h4>
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-xs-9 graph no-padding">
                    </div>
                    <div class="col-xs-3 no-padding">
                      <select name="individual" class="form-control" data-id="individuals">
                        {% for area in user.observer.areas.all %}
                          {% for a in area.alive_individuals.all %}
                            {% if a.survey_set.count > 0 %}
                              <option rel="{{a.species_id}}" data-area="{{area.id}}" value="{{a.id}}">{{a.name}}</option>
                            {% endif %}
                          {% endfor %}
                        {% endfor %}
                      </select>
                      <select name="stage" class="form-control" data-id="stages">
                      </select>
                    </div>
                  </div>
                </div>
            </div>
          </div>

       </div>
    </div>
  
    <div class="col-xs-6 col-md-7 table-col" style="position:relative">
      <div id="map"></div>
      <div class="padding-10">
          <a class="btn btn-default btn-sm" href="{% url 'export-survey' %}" ><i class="icon ion-document-text"></i> Exporter mes données</a>
      </div>
    </div>
  
  </div>
        <script type="text/javascript">

        $( document ).ready(function(){
          $("#map").height($("#map").parent().height() - 100);
          /** viz obj **/
          phenoclim.session.chart_Obj = phenoclim.viz.areaChart({margin : {top: 20, right: 20, bottom: 20, left: 40}});
          refreshStages();
          refreshChart();
        });

        /** Accordion **/
        $(".display__stage").hide();
        $(".display__individual").hide();
        $(".display__area a").on("click", function(event){
          var li = $(this).parent("li");
          var children = $(li).children("ul").children("li");
          var is_hidden = children.filter(":hidden").length > 0;
          if ($(li).children("ul").length > 0){
            if(is_hidden === false){
              children.slideUp(300);
            }
            else{
              children.slideDown(300);
            }
            return false;
          }
        });

        /** Stage Combobox **/
        function refreshStages(){
          var $stages_field = $("[data-id=stages]");
          var $individual_option = $("[data-id=individuals] :selected");
          var individual_id = +$individual_option.attr("value");
          var area_id = +$individual_option.attr("data-area");
          var species_id = +$individual_option.attr("rel");
          if(isNaN(species_id)){
            return false;
          }
          var data = phenoclim.options.areas[area_id].species[species_id];
          $("option", $stages_field).remove();
          var stages = d3.entries(data.values || {});
          stages.sort(function(a,b){
            return a.value.name.localeCompare(b.value.name);
          })
          $.each(stages, function(i, item){
            var option = $("<option>").attr("value", item.key).text(item.value.name);
            option.appendTo($stages_field);
          });
        }

        function refreshChart(){
          var $individual_option = $("[data-id=individuals] :selected");
          var individual_id = +$individual_option.attr("value");
          var species_id = +$individual_option.attr("rel");
          var area_id = +$individual_option.attr("data-area");
          var stage_id = $("[data-id=stages]").val();
          var tmp = {
            label: '',
            key: individual_id,
            values: phenoclim.options.areas[area_id].species[species_id].values[stage_id].values[individual_id]
          };
          d3.select(".graph").datum([tmp]).call(phenoclim.session.chart_Obj);
        }

      </script>
{% endblock %}
