{% extends "base.html" %}
{% load i18n %}
{% load bootstrap3 %}

{% block title %}{% endblock %}

{% block content %}
<div class="row  table-row">

  <div class=" col-xs-12 col-md-12 table-col">
  		<p class="text-center">
		{% blocktrans %}Forgot your password?  Enter your email in the form below and we'll send you a new one.{% endblocktrans %}
		</p>
		<form method='post' action=''>{% csrf_token %}
			  {% bootstrap_form form %}
			  {% buttons %}
			    <button type="submit" class="btn btn-default">
				 {% trans "Reset password"  %}
			    </button>
			  {% endbuttons %}
		</form>
  </div>
</div>
{% endblock %}
