{% load i18n %}{% trans "Greetings" %} {% if user.get_full_name %}{{ user.get_full_name }}{% else %}{{ user }}{% endif %},

{% blocktrans  with username=user.username%}You asked to reset you password.

Your username : {{ username }}
Your new password : {{ password }}

We invite you to navigate to your personnal space and modify your password in the "My profil" section.

If it's not from you, please ignore this message.

Phénoclim management.

Centre de Recherches sur les Ecosystèmes d'Altitude (CREA Mont-Blanc) [lien http://creamontblanc.org]
Observatoire du Mont-Blanc, 74400 Chamonix, France 

Pour toute question, contactez-nous :
phenoclim@creamontblanc.org
Tél : +33 (0)4 50 53 45 16

{% endblocktrans %}