{% extends "base.html" %}
{% load i18n %}

{% load bootstrap3 %}

{% block title %} {% trans 'My profil' %} {% endblock %}

{% block content %}
<div class="row  table-row">

  <div class="col-md-5  table-col">

    <form method="post" class="form-horizontal" role="form">
      {% csrf_token %}
      {% bootstrap_form form layout='horizontal' %}
      {% buttons %}
        <button type="submit" class="btn btn-primary btn-lg btn-block">
          {% trans 'Validate' %}
        </button>
      {% endbuttons %}
        <a href="password_change" class="btn btn-link btn-lg">
          {% trans 'Change password' %}
        </a>
    </form>

  </div>

  <div class="col-md-7 table-col">
    <div id="map"></div>

    <h4><u>{% trans "My Areas" %} :</u></h4>

    <table class="table table-striped mytable table-bordered">
      <tr>
        <th></th>
        <th>{% trans "name" %}</th>
        <th>{% trans "city" %}</th>
      </tr>
      {% for area in user.observer.areas.all %}
        <tr>
          <td width="10px"> 
            <a href="{% url 'area-detail' area.id %}" class="btn btn-default">
              {% bootstrap_icon "pencil" %}
            </a>
          </td>
          <td>{{ area.name }}</td>
          <td width="40%">{{ area.commune }}</td>
        </tr>
      {% endfor %}
    </table>
    {% buttons %}
      <a href="{% url 'area-detail' %}" class="pull-right btn btn-primary">
        {% bootstrap_icon "plus" %} {% trans "Add a new area" %}
      </a>
    {% endbuttons %}
    </div>
 </div>

{% endblock %}