{% extends "base.html" %}
{% load i18n %}
{% load bootstrap3 %}

{% block title %}
  {% if not form.instance.id %}
    {% trans "New individual" %}
  {% else %}
    {% trans "Individual" %}
  {% endif %} {{ form.instance.name }}
{% endblock %}

{% block content %}
  <div class="row  table-row">
    <div class="col-md-5  table-col">
      {% buttons %}
        <a href="{% url 'home' %}area/{{ form.instance.area.id }}" class="btn btn-default">
          {% trans "Back to the area" %}
        </a>
      {% endbuttons %}
      <form method="post" class="form-horizontal" role="form">
        {% csrf_token %}
        {% bootstrap_form form layout='horizontal' %}
        {% buttons %}
          <button type="submit" class="btn btn-primary btn-lg btn-block">
            {% trans "Validate" %}
          </button>
          <!--<a data-rel="individual" data-id="{{ formset.instance.id }}" class="change_position btn btn-link btn-lg">
            Changer la position de l'individu
          </a>-->
        {% endbuttons %}
      </form>

    </div>

    <div class="col-md-7 table-col">

    <div id="map"></div>

    {% if form.instance.id and surveys %}

      <h4><u>{% trans "Last surveys" %} :</u></h4>

      <table class="table table-striped mytable table-bordered">
        <tr>
          <th></th>
          <th>{% trans "name" %}</th>
          <th>{% trans "Species" %}</th>
        </tr>

        {% for survey in surveys %}
          <tr>
            <td width="10px">
              <a href="{% url 'survey-detail' survey.id %}" class="btn btn-default">
                {% bootstrap_icon "pencil" %}
              </a>
            </td>
            <td>{{ survey.stage.name }}</td>
            <td width="40%">{{ survey.date|date:'d M Y'}}</td>
          </tr>
        {% endfor %}

      </table>

      {% buttons %}
        <a href="{% url 'survey-detail' %}?ind_id={{ form.instance.id }}" class="pull-right btn btn-primary">
          {% bootstrap_icon "plus" %} {% trans "Add a new survey" %}
        </a>
      {% endbuttons %}

      </div>
    {% endif %}

  </div>
{% endblock %}
