{% extends "base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block title %}{{ form.instance.name }}{% endblock %}

{% block content %}
  <div class="row  table-row">

    <div class="col-md-12  table-col">
      {% buttons %}
        <a href="{% url 'individual-detail' form.instance.individual.id %}" class="btn btn-default">
          {% trans "Back to the individual" %}
        </a>
      {% endbuttons %}
      <div class="row">
        <div class="col-xs-12 text-center">
          <h2>{{ form.instance.stage.name }}</h2>
        </div>
      </div>
      <div class="row preview_pictures">
        <div class="col-xs-4 text-center">
          <img src="/media/{{ form.instance.stage.picture_before }}"></img>
          <div>{% trans 'before' %}</div>
        </div>
        <div class="col-xs-4 text-center current">
          <img src="/media/{{ form.instance.stage.picture_current }}"></img>
          <div>{% trans 'current' %}</div>
        </div>
        <div class="col-xs-4 text-center">
          <img src="/media/{{ form.instance.stage.picture_after }}"></img>
          <div>{% trans 'after' %}</div>
        </div>
      </div>
      <form method="post" class="form-horizontal" role="form">
        {% csrf_token %}
        {{ form.errors }}
        <div class="form_group answer">
        <!--
        <div class="btn btn-block btn-lg btn-default radio">
          <label>
            <input type="radio" name="{{ form.answer.html_name }}" id="{{ form.answer.id_for_label }}" value="today" 
            {% if not form.instance.answer or form.instance.answer == 'today' %}checked{% endif %}>
            {% trans "Observed today" %}
          </label>
        </div>
        -->
        <div class="btn btn-block btn-lg btn-default radio left-block">
          <label>
            <input type="radio" name="{{ form.answer.html_name }}" id="{{ form.answer.id_for_label }}" value="before"
            {% if form.instance.answer == 'before' %}checked{% endif %}>
            {% trans "Observed" %}
          </label>
        </div>
        <div class="btn btn-block btn-lg btn-default radio">
            <label>
              <input type="radio" name="{{ form.answer.html_name }}" id="{{ form.answer.id_for_label }}" value="isLost"
              {% if form.instance.answer == 'isLost' %}checked{% endif %}>
              {% trans "Individual lost ord dead" %}
            </label>
        </div>
        <div class="btn btn-block btn-lg btn-default radio">
            <label>
              <input type="radio" name="{{ form.answer.html_name }}" id="{{ form.answer.id_for_label }}" value="isNever"
              {% if form.instance.answer == 'isNever' %}checked{% endif %}>
              {% trans "Stage never happened" %}
            </label>
        </div>
        <div class="btn btn-block btn-lg btn-default radio">
          <label>
            <input type="radio" name="{{ form.answer.html_name }}" id="{{ form.answer.id_for_label }}" value="isPassed"
            {% if form.instance.answer == 'isPassed' %}checked{% endif %}>
            {% trans "Stage already passed" %}
          </label>
        </div>
      </div>
        <br/>
        {% bootstrap_field form.remark layout='inline' %}
        {% bootstrap_field form.individual %}
        {% bootstrap_field form.date %}
        {% buttons %}
          <button type="submit" class="btn btn-primary btn-lg btn-block">
            {% bootstrap_icon "tree-deciduous" %} {% trans 'Validate' %}
          </button>
        {% endbuttons %}
        {% bootstrap_field form.stage %}
      </form>

    </div>
</div>

<script type="text/javascript">
 $(".answer>.radio").on("click", function(event){
  var $input = $("input", $(this));
  $input.prop("checked", "checked");
  var input_value = $input.val();
  if(input_value=="today"){
    console.log("today");
  } 
  else if(input_value=="before"){
    console.log("before");
  }
  return false;
 });
</script>

<script src="{% static 'vendor/pickadate.js/lib/picker.js' %}"></script>
<script src="{% static 'vendor/pickadate.js/lib/picker.date.js' %}"></script>
<script src="{% static 'vendor/pickadate.js/lib/picker.time.js' %}"></script>
<link rel="stylesheet" href="{% static 'vendor/pickadate.js/lib/themes/default.css' %}"></link>
<link rel="stylesheet" href="{% static 'vendor/pickadate.js/lib/themes/default.date.css' %}"></link>
{% with lang=LANGUAGE_CODE %}
  {% if lang != "en" %}
      <script src="{% static 'vendor/pickadate.js/lib/translations/' %}{{lang}}_{{lang|upper}}.js"></script>
  {% endif %}
{% endwith %}
<script type="text/javascript">
$( document ).ready(function() {
  $('#id_date').pickadate({format: 'dd/mm/yyyy', formatSubmit: 'dd/mm/yyyy', max: true})
});
</script>

{% endblock %}