{% extends "base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% load staticfiles %}
{% load json_filters %}

{% block title %}Viz{% endblock %}

{% block content %}
    <div class="row  table-row">

      <div class=" col-xs-8 col-md-8  table-col">
               <div id="graph" class="graph text-center"></div>
      </div>

      <div class="col-xs-4 col-md-4 table-col">
        <div class="map-control">
           <select name="species" data-id="species" class="form-control">
           </select>
           <select name="stages" data-id="stages" class="form-control">
           </select>
           <div data-id="years" class="form-group">
           </div>
        </div>
      </div>
    </div>

      <script type="text/javascript">
        $( document ).ready(function(){
          phenoclim.session.linechart = new phenoclim.viz.lineChart();
          phenoclim.viz.getSpecies().done(function(event){
            phenoclim.viz.load_data().done(function(event2){
              phenoclim.session.linechart.refresh();
              $("select[data-id=species]").on("change", function(event3){
                phenoclim.viz.refreshStages();
                phenoclim.viz.refreshYears();
                phenoclim.session.linechart.refresh();
              });
              $("select[data-id=stages]").on("change", function(event3){
                phenoclim.viz.refreshYears();
                phenoclim.session.linechart.refresh();
              });
            });
          });
        });
      </script>

{% endblock %}
