{% extends "base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% load staticfiles %}
{% load json_filters %}

{% block navigation %} {% endblock %}

{% block title %}{% endblock %}

{% block content %}
    <div class="container-fluid snowing-compare text-center">
      <div class="row snowing-area area1" rel="area1">
        <div class="col-md-12 col-xs-12">
          <div class="controls">
           <select name="area" class="form-control">
            {% for a in areas %}
              <option value="{{a.pk}}">{{a.postalcode}} {{ a.commune }} {{ a.altitude|floatformat }}m</option>
            {% endfor %}
           </select>
           <select name="year" class="form-control">
           </select>
          </div>
          <div class="graph">
          </div>
        </div>
      </div>
      <div class="row snowing-area area2" rel="area2">
        <div class="col-md-12 col-xs-12">
          <div class="controls">
           <select name="area" class="form-control">
            {% for a in areas %}
              <option value="{{a.pk}}">{{a.postalcode}} {{ a.commune }} {{ a.altitude|floatformat }}m</option>
            {% endfor %}
           </select>
           <select name="year" class="form-control">
           </select>
          </div>
          <div class="graph">
          </div>
        </div>
      </div>
    </div>

      <script type="text/javascript">

        phenoclim.session = phenoclim.session || {}; // session
        phenoclim.session.areasnowings = {} // cache
        phenoclim.vizsnowings = phenoclim.vizsnowings || {}; // namespace
        phenoclim.vizsnowings.prepareData = function(data, year){

          var minDate = moment([year-1, 9, 1]) // fixed
          var maxDate = moment([year, 4, 1]); // fixed

          var filtered = data.snowings.map(function(d){
            d.date = moment(d.date);
            return d;
          }).filter(function(d){
            return d.date <= maxDate && d.date >= minDate;
          })

          filtered.sort(function(a, b){
            if(a.date > b.date){ return 1; }
            else{ return -1; }
          });

          return {
            year: year,
            minDate: minDate,
            maxDate: maxDate,
            values: filtered,
            altitude: data.altitude,
            maxHeight: data.maxHeight,
            name: data.name,
            id: data.id
          }

        }

        phenoclim.vizsnowings.getData = function(area_id){
          var defer = $.Deferred();
          if(typeof phenoclim.session.areasnowings[area_id] == "undefined"){
            $.get("get_area_snowings?area_id="+ area_id, function(data){
              phenoclim.session.areasnowings[area_id] = data;
              defer.resolve(data);
            })
          }
          else{
            defer.resolve(phenoclim.session.areasnowings[area_id])
          }
          return defer.promise()
        }

        phenoclim.vizsnowings.refreshYears = function(data, container){
          var snowings = data.snowings || [];
          console.log(snowings)
          var years = d3.set(snowings.map(function(d){
            var newdate = new Date(d.date);
            if (newdate.getMonth() >= 10) {
              return newdate.getFullYear() + 1;
            }
            return newdate.getFullYear();
          })).values();
          console.log(years)
          years.sort().reverse();
          var $input = $('[name=year]', container);
          $("option", $input).remove();
          $.each(years, function(i, year){
            $("<option value='"+year+"'>Hiver " + (year-1) + "-" + year + "</option>").appendTo($input);
          });
        }
 
        $( document ).ready(function(){
            // init charts
            phenoclim.session.chartClass = {
              "area1" : new phenoclim.viz.SnowingChart2().width(920),
              "area2" : new phenoclim.viz.SnowingChart2().width(920),
            }
            $('.area1 select:first').on("change",function(event){
              var area_id = $(this).val();
              var container = $(this).parents(".snowing-area"); 
              phenoclim.vizsnowings.getData(area_id).done(function(data){
                phenoclim.vizsnowings.refreshYears(data, $('.area1'));
                phenoclim.vizsnowings.refreshYears(data, $('.area2'));
                var year = $("[name=year]", container).val();

                $(".area2 select:first").val(area_id);
                $(".area2 [name=year]").val(year-1);

                var pdata = phenoclim.vizsnowings.prepareData(data, year);
                var pdata2 = phenoclim.vizsnowings.prepareData(data, year-1);
                d3.select(".area1 .graph").datum(pdata).call(phenoclim.session.chartClass["area1"]);
                d3.select(".area2 .graph").datum(pdata2).call(phenoclim.session.chartClass["area2"]);
              });
            });
            $('.area2 select:first').on("change",function(event){
              var area_id = $(this).val();
              phenoclim.vizsnowings.getData(area_id).done(function(data){
                var year = $(".area2 [name=year]").val();
                var pdata = phenoclim.vizsnowings.prepareData(data, year);
                d3.select(".area2 .graph").datum(pdata2).call(phenoclim.session.chartClass["area2"]);
              });
            });
            $('.snowing-area [name=year]').on("change",function(event){
              var $container = $(this).parents(".snowing-area"); 
              var area_id = $("[name=area]", $container).val();
              phenoclim.vizsnowings.getData(area_id).done(function(data){
                var year = $("[name=year]", $container).val();
                var pdata = phenoclim.vizsnowings.prepareData(data, year);
                d3.select($container[0]).select(".graph").datum(pdata).call(phenoclim.session.chartClass[$container.attr("rel")]);
              });
            });
            $('.area1 select:first').trigger("change");
        });
      </script>

{% endblock %}