{% extends "base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% load staticfiles %}
{% load json_filters %}

{% block navigation %} {% endblock %}

{% block title %}{% endblock %}

{% block content %}
    <div class="row  table-row">

      <div class=" col-xs-9 col-md-9  table-col">
         <div id="graph" class="graph text-center"></div>
         <div class="graph-bars text-center"></div>
         <div class="graph-bars-time text-center"></div>
      </div>

      <div class="col-xs-9 col-md-9 table-col">
        <div class="map-control">
           <select name="species" data-id="species" class="form-control">
           </select>
           <select name="stages" data-id="stages" class="form-control">
           </select>
           <div data-id="years" class="form-group">
           </div>
        </div>
      </div>
    </div>

      <script type="text/javascript">
        $( document ).ready(function(){
          phenoclim.session.linechart = new phenoclim.viz.lineChart({ margin: {top: 20, right: 10, bottom: 30, left: 80}});
          phenoclim.session.barchart = new phenoclim.viz.barChart();
          phenoclim.session.timebarchart = new phenoclim.viz.timeBarChart();
          phenoclim.viz.getSpecies().done(function(event){
            phenoclim.viz.load_data().done(function(event2){
              phenoclim.viz.refreshYears()
              phenoclim.session.linechart.refresh();
              phenoclim.session.barchart.refresh();
              phenoclim.session.timebarchart.refresh();
              $("select[data-id=species]").on("change", function(event3){
                phenoclim.viz.refreshStages();;
                phenoclim.viz.refreshYears()
                phenoclim.session.linechart.refresh();
                phenoclim.session.barchart.refresh();
                phenoclim.session.timebarchart.refresh();
              });
              $("select[data-id=stages]").on("change", function(event3){
                phenoclim.viz.refreshYears();
                phenoclim.session.linechart.refresh();
                phenoclim.session.barchart.refresh();
              });
            });
          });
        });
      </script>

{% endblock %}
