{% extends "base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% load staticfiles %}
{% load json_filters %}

{% block title %}Viz{% endblock %}

{% block content %}
<style>

.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}

.axis {
  font: 10px sans-serif;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

</style>
    <div class="row  table-row">

      <div class=" col-xs-8 col-md-8  table-col">
               <div id="graph" class="graph text-center"></div>
      </div>

      <div class="col-xs-4 col-md-4 table-col">
        <div class="map-control">
           <select name="species" data-id="species" class="form-control">
           </select>
           <select name="stages" data-id="stages" class="form-control">
           </select>
           <div data-id="years" class="form-group">
           </div>
        </div>
      </div>
    </div>

      <script type="text/javascript">

        var cached_surveys = {};
        phenoclim = phenoclim || {}
        phenoclim.session = phenoclim.session || {};
        phenoclim.viz = {};
        phenoclim.viz.load_data = function(){
          return $.get("/portail/get_data_for_viz", function(data){
            phenoclim.session.dataviz = data;
            phenoclim.viz.refreshYears();
          });
        }

        phenoclim.viz.refreshStages = function(){
          var species_field_value = $("select[data-id=species]").val();
          var stages_field = $("select[data-id=stages]");
          var cache_stage_value = stages_field.val();

          var species = phenoclim.session.species_list.filter(function(d){
            return d.id == species_field_value;
          });

          if (species.length > 0){
            species = species[0];
          }

          $("option", stages_field).remove();

          $.each(species.stages, function(i, item){
            var option = $("<option>").attr("value", item.id).text(item.label);
            if(cache_stage_value === item.id){
              option.attr("selected", "selected");
            }
            option.appendTo(stages_field);
          });
        }

        phenoclim.viz.refreshYears = function(){
          var data = phenoclim.session.dataviz || [];
          var all_years = [];
          var species_id = +$("select[data-id=species]").val();
          var stage_id = +$("select[data-id=stages]").val();
          var years = data[species_id][stage_id];
          $.each(years, function(year, Yeardata){
            if(all_years.indexOf(+year) === -1){
              all_years.push(+year);
            }
          });
          all_years.sort();
          $yearContainer = $("[data-id=years]");
          $yearContainer.children().remove();
          $.each(all_years, function(i, year){
            $("  <div class='checkbox'><label><input type='checkbox' name='years' value='"+ year +"' checked='checked'>" + year + "</label></div>").appendTo($yearContainer);
          });
          $(".checkbox input").change(function(event){
            phenoclim.session.linechart.refresh();
          });
        }

        phenoclim.viz.getSpecies = function(){
          return $.get("/portail/get_species_list", function(data){
            var species_field = $("select[data-id=species]");
            $("option", species_field).remove();
            data = data.sort(function(a, b){
              if ( a.label < b.label )
              return -1;
              if ( a.label > b.label )
                return 1;
                return 0; });
            $.each(data, function(i, item){
              var option = $("<option>").attr("value", item.id).text(item.label);
              option.appendTo(species_field);
            });
            phenoclim.session.species_list = data;
            phenoclim.viz.refreshStages();
          })
        };

        phenoclim.viz.lineChart = function(){
          var self = this;

          var margin = {top: 20, right: 20, bottom: 30, left: 40};
          var width = 960 - margin.left - margin.right;
          var height = 500 - margin.top - margin.bottom;

          var x = d3.scale.linear().range([0, width]).domain([1, 12]);

          var y = d3.scale.linear()
          .range([height, 0]);

          var xAxis = d3.svg.axis()
          .scale(x)
          .orient("bottom");

          var yAxis = d3.svg.axis()
          .scale(y)
          .orient("left")
          .tickFormat(d3.format(",.0f"))
          var container = d3.select(".graph");

          var svg = container.append("svg")
            .attr("width", width + margin.left + margin.right)
            .attr("height", height + margin.top + margin.bottom)
            .append("g")
            .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

          var line = d3.svg.line()
            .x(function(d) { console.log('x', d.key); return x(d.key); })
            .y(function(d) { return y(+d.value); });

          var xGraphAxis = svg.append("g")
            .attr("transform", "translate(0," + height + ")")
            .attr("class", "x axis");

          var yGraphAxis = svg.append("g")
            .attr("class", "y axis");

          this.refresh = function(){
            console.log("in refresh");
            var species_id = +$("select[data-id=species]").val();
            var stage_id = +$("select[data-id=stages]").val();
            var years_selected = $(".checkbox input:checked").map(function(i, item){
              return $(item).attr("value");
            }).toArray();
            var dataRaw = phenoclim.session.dataviz[species_id][stage_id] || {};
            var data = d3.entries(dataRaw).map(function(d){
              d.values = d3.entries(d.value);
              return d;
            });
            data = data.filter(function(d){
              return (years_selected.indexOf(d.key) > -1);
            })
            var max = d3.max(data,
              function(d){
                return d3.max(d.values, function(d){
                  return parseInt(d.value);
                })});
            var months = [ 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12];
            y.domain([0, max]);
            xGraphAxis.call(xAxis);
            yGraphAxis.call(yAxis);
            svg.selectAll("path.line").remove();
            var lines = svg.selectAll("path.line")
              .data(data)

            lines.enter()
              .append("path")
              .style('stroke', function(d) { return phenoclim.session.linechart.colors(d.key); })
              .datum(function(d){
                return d.values;
              })
              .attr("class", "line")
              .attr("d", line)
              .attr("transform", null)
            lines.exit().remove();
          }

          this.colors = d3.scale.category10().domain([1, 12]);
        }
        $( document ).ready(function(){
          phenoclim.session.linechart = new phenoclim.viz.lineChart();
          phenoclim.viz.getSpecies().done(function(event){
            phenoclim.viz.load_data().done(function(event2){
              phenoclim.session.linechart.refresh();
              $("select[data-id=species]").on("change", function(event3){
                phenoclim.viz.refreshStages();
                phenoclim.viz.refreshYears();
                phenoclim.session.linechart.refresh();
              });
              $("select[data-id=stages]").on("change", function(event3){
                phenoclim.viz.refreshYears();
                phenoclim.session.linechart.refresh();
              });
            });
          });
        });
      </script>

{% endblock %}
